.signup-header{
margin: 50px auto 20px auto;
text-align: center;
 font-weight:800;
 font-size: 35px;

}
.signup-main-container {
  max-width: 500px;
  margin: 50px auto 200px auto;
  background-color: rgb(251, 251, 251);
  padding: 40px;
  border: 1px solid rgb(233, 234, 236);
  border-radius: 20px;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 1px 1px rgb(209, 204, 204);
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.form-group label {
  display: block;
}
.form-group input {
  border: 1px solid rgb(240, 237, 237);
  padding: 10px;
  border-radius: 14px;
  box-shadow: 1px 1px rgb(209, 204, 204);
}
.signup-button {
  width: 500px;
  height: 36px;
  background-color: rgb(6, 159, 57);
  box-shadow: 0 0 10px rgba(243, 24rgb(6, 159, 57)1, 241, 0.1);
  border: none;
  border-radius: 14px;
  margin-bottom: 10px;
  margin-top: 40px;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  font-weight: 300;
}
.login-text-box {
  text-align: center;
  margin-top: 16px;
}
.signup-button:hover {
  background-color: rgb(6, 142, 52);
}
.error-message{
  color:red;
  font-size: 12px;
  margin-top: 2px;
  margin-left: 10px;

}
.google-auth{
  width:200px;
  margin-left: 140px;
}